include MANIFEST.in
include LICENCE.txt
include README.rst

recursive-include icomoon/templates *
recursive-include icomoon/static *
recursive-include icomoon/locale *
recursive-include icomoon/test_fixtures *

recursive-exclude tests *
recursive-exclude sandbox *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
